:root {
    --primary-color: blue;
    --secondary-color: orange;
    --accent1-color: darkblue;
    --accent2-color: yellow;
    --heading-font: "Times New Roman", "Georgia", "Serif";
    --body-font: Arial, Helvatica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

.socialmedia a{
    text-decoration: none;
}