:root {
    --primary-color: blue;
    --secondary-color: orange;
    --accent1-color: darkblue;
    --accent2-color: yellow;
    --heading-font: "Times New Roman", "Georgia", "Serif";
    --body-font: Arial, Helvatica, sans-serif;
}