.callout {
    max-width: 400px; 
    margin: 10px;
    border: 1px solid black;
    padding: 15px;
	background-color: #247;
    color: #fff;
}

.callout img {
    float: right;
    margin: auto;
	border: 1px solid white;
    padding: 3px;
    background-color: gold;
    width: 100px;
    height: auto;
}

blockquote {
	
}

cite {
	
}