header {
    background-color: rgb(10, 10, 10);
    padding: 10px;
    color: #ffff;
    font-size: 2.5rem;
    text-align: center;
}

main {
    width: 400px;
    margin: auto;
}

image {
    width: 100px;
    height: auto;

}