header {
    background-color: rgb(10, 10, 10);
    margin: 1rem;
    padding: 1rem;
    color: #ffff;
    size: bigger;
    text-align: center;
}

main {
    width: 400px;
    margin: 0 auto;
}

image {
    width: 100px;
    height: auto;
}